extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +error-alert(5000)
  +success-alert(5000)
  h1.text-center #{pageTitle}

  form(id="form-create" method="POST" action=`/${prefixAdmin}/topics/edit/${topic._id}?_method=PATCH` enctype="multipart/form-data")-// Thư viện upload multer
    .form-group.mb-3
      label(for="title") Tiêu đề 
      input(type="text" class="form-control" id="title" name="title" required value=topic.title)
    div(class="form-group mb-3" upload-image)
      label(for="avatar") Ảnh
      input(type="file" class="form-control-file" upload-image-input id="avatar" name="avatar" accept="image/*")
      if(topic.avatar)
        div(update)
          img(src=topic.avatar class="upload-image-preview" upload-image-preview alt="")
          span x
      else 
        div
          img(src="" class="upload-image-preview" upload-image-preview alt="")
          span x

      //-type="file" and accept="image/* và class="form-control-file" của boostrap để css
    .form-group.fix-size.mb-3
      label(for="desc") Mô tả
      textarea(class="form-control textarea-mce fix-size" textarea-mce id="desc" name="description" rows="5") #{topic.description}
    .form-group.form-check.form-check-inline.mb-3
      input(type="radio" class="form-check-input" id="statusAcive" name="status" value="active" checked=(topic.status === "active" ? true : false))
      label(for="statusAcive" class="from-check-label") Hoạt động
    .form-group.form-check.form-check-inline.mb-3 
      input(type="radio" class="form-check-input" id="statusInacive" name="status" value="inactive" checked=(topic.status === "inactive" ? true : false))
      label(for="statusInacive" class="from-check-label") Dừng hoạt động
    .from-group
      button(type="submit" class="btn btn-primary") Thay đổi