extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug
include ../../mixins/pagination.pug

block main
    +success-alert(5000)
    .container-fluid
     .row 
        .col-12 
            h1 Danh sách chủ đề
            a.btn.btn-primary(href="/admin/topics/create") Thêm chủ đề
            table.table.table-striped.table-bordered.table-hover
                thead
                    tr
                        th Stt
                        th Ảnh
                        th Tiêu đề
                        th Trạng thái
                        th Ngày tạo
                        th Ngày cập nhật mới nhất
                        th Hành động
                tbody
                  if(topics.length > 0)
                    each topic, index in topics
                        tr  
                            td= index + 1 + pagination.limitItem * (pagination.currentPage - 1)
                            td
                                if topic.avatar
                                    img.img-fluid(src=`${topic.avatar}`, alt=`${topic.title}`)
                                else
                                    | No Image
                            td= topic.title
                            td
                                if(topic.status === 'active')
                                    span.badge.bg-success.text-white Hoạt động
                                else
                                    span.badge.bg-danger.text-white Dừng hoạt động
                            td 
                                if(topic.createdAt)
                                    +formatDay(topic.createdAt)
                                else
                                    | No Data
                            td 
                                if(topic.updatedAt)
                                    +formatDay(topic.updatedAt)
                                else
                                    | No Data

                            td
                                a.btn.btn-primary.d-inline-block.mx-2(href=`/admin/topics/edit/${topic._id}`) Chỉnh sửa
                                a.btn.btn-secondary.d-inline-block.mx-2(href=`/admin/topics/detail/${topic._id}`) Xem chi tiết
                                button.btn-delete.btn.btn-danger(btn-delete=topic._id) Xóa
                                form(method="POST" action=`/admin/topics/delete/${topic._id}?_method=DELETE` id=`form-delete-${topic._id}`)
            +pagination(pagination)