extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +success-alert(5000)
    +error-alert(5000)
    .container
        if(song)
            .box-listen
                .box-listen__content
                    .box-listen__img
                        img(src=song.avatar, alt=song.title)
                    .bos-listen__content--small
                        span !{song.description}
                        .box-listen__singer Ca sĩ: #{song.singer ? song.singer : "N/A"}
                        .box-listen__like Số lượt yêu thích: <i class="fa-regular fa-heart"> #{song.like ? song.like : 0}</i>
                        .box-listen__visit Số lượt nghe: <i class="fa-solid fa-music"> #{song.visit ? song.visit : 0}</i> 
                        button(button-add-playlist)
                            if(inPlayList)
                                <i class="fa-solid fa-plus"></i>
                            else 
                                <i class="fa-solid fa-plus"></i>
                            span #{inPlayList ? "Đã thêm vào danh sách phát" : "Thêm vào danh sách phát"} 
                .box-listen__listening
                    div(id="aplayer" data-song=song data-singer=singer)