.nav
  .inner-menu
    ul
      li
        a(href=`/${prefixAdmin}/dashboard`) <i class="fa-solid fa-house"></i> Tổng quan
      li 
        a(href=`/${prefixAdmin}/topics`) <i class="fa-regular fa-star"></i> Quản lý chủ đề
      li 
        a(href=`/${prefixAdmin}/songs`) <i class="fa-solid fa-music"></i> Quản lý bài hát
      li 
        a(href=`/${prefixAdmin}/singers`) <i class="fa-solid fa-microphone"></i> Quản lý ca sĩ
      li 
        a(href=`/${prefixAdmin}/roles`) <i class="fa-solid fa-user-group"></i> Nhóm quyền 
      li 
        a(href=`/${prefixAdmin}/roles/permissions`) <i class="fa-solid fa-user-gear"></i> Phân quyền
      li 
        a(href=`/${prefixAdmin}/accounts`) <i class="fa-solid fa-shield-halved"></i> Tài khoản admin
      li 
        a(href=`/${prefixAdmin}/users`) <i class="fa-solid fa-user-large"></i> Tài khoản user
      li 
        a(href=`/${prefixAdmin}/settings/general`) <i class="fa-solid fa-gear"></i> Cài đặt chung